@model ShoppingService.Models.CartItem

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="CartItemCreate">
    <div class="cart-item-form-container">
        <div class="cart-item-form-box">
            <form asp-action="Create">
                <h1>Create Cart Item</h1>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <!-- Quantity Input -->
                <div class="form-group">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control cart-item-input"/>
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>

                <!-- TotalPrice Input -->
                <div class="form-group">
                    <label asp-for="TotalPrice" class="control-label"></label>
                    <input asp-for="TotalPrice" class="form-control cart-item-input"/>
                    <span asp-validation-for="TotalPrice" class="text-danger"></span>
                </div>

                <!-- CartId Dropdown -->
                <div class="form-group">
                    <label asp-for="CartId" class="control-label"></label>
                    <select asp-for="CartId" class="form-control cart-item-input" asp-items="ViewBag.CartId"></select>
                </div>

                <!-- Submit Button -->
                <div class="form-group">
                    <input type="submit" value="Create" class="btn cart-item-btn cart-item-btn-submit"/>
                </div>
            </form>

            <!-- Back to List Link -->
            <div>
                <a asp-action="Index" class="cart-item-btn cart-item-btn-back">Back to List</a>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <link rel="stylesheet" href="~/css/CartItems/Create.css" asp-append-version="true"/>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
