#header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    height: 10vh;
    transition: background-color 0.3s ease;

    .header-body{
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
    }
    .icon-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        color: white;
    }
    .btn {
        padding: 10px 20px;
        font-size: 16px;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    .btn:hover {
        background-color: #787878;
    }
    .login-btn {
        background-color: #007bff;
        color: white;
    }
    .register-btn {
        background-color: #28a745;
        color: white;
    }
    .logout-btn {
        background-color: black;
        color: white;
    }
    .btn-admin{
        background-color: red;
        color: white;
    }
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: center; /* Poți ajusta la stânga sau dreapta, dacă vrei */
        align-items: center;
        gap: 10px; /* Spațiu între butoane */
    }

    .navbar-nav {
        display: flex;
        flex-direction: row; /* Afișează elementele pe orizontală */
        align-items: center;
        margin: 0; /* Elimină spațiile inutile */
        padding: 0;
        list-style: none; /* Ascunde bullet-urile */
    }

    .navbar-nav .nav-item {
        margin: 0 5px; 
    }

    .navbar-nav .nav-link {
        text-decoration: none;
        color: white;
    }

    @media (max-width: 768px) {
        height: 10vh;
        .header-body {
            padding: 0 10px;
        }
        .header-container {
            width: 95%;
            align-items: center;
        }
        .icon-text {
            font-size: 2vw;
            text-align: center;
        }
        .btn {
            padding: 8px 16px;
            font-size: 2vw;
            width: auto;
            margin-top: 5px;
        }
    }
}