@model ShoppingService.Models.Cart

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="CartCreate">
    <div class="cart-body">
        <div class="cart-container">
            <h1>Create Cart</h1>
            <h4>Cart Details</h4>
            <hr />
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="TotalAmount" class="control-label">Total Amount</label>
                    <input asp-for="TotalAmount" class="form-control cart-input" />
                    <span asp-validation-for="TotalAmount" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="UserId" class="control-label">User</label>
                    <select asp-for="UserId" class="form-control cart-input" asp-items="ViewBag.UserId"></select>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create Cart" class="btn cart-btn" />
                </div>
            </form>

            <div class="back-link">
                <a asp-action="Index" class="btn cart-back-btn">Back to List</a>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <link rel="stylesheet" href="~/css/Carts/Create.css" asp-append-version="true" />
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
