@model ShoppingService.Models.Cart

@{
    ViewData["Title"] = "Cart Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="CartDetails">
    <div class="cart-details-body">
        <div class="cart-details-container">
            <h1>Cart Details</h1>

            <div class="cart-info">
                <h4>Cart Information</h4>
                <hr />
                <dl class="details-list">
                    <div class="details-item">
                        <dt class="details-label">
                            @Html.DisplayNameFor(model => model.TotalAmount)
                        </dt>
                        <dd class="details-value">
                            @Html.DisplayFor(model => model.TotalAmount)
                        </dd>
                    </div>

                    <div class="details-item">
                        <dt class="details-label">
                            @Html.DisplayNameFor(model => model.User)
                        </dt>
                        <dd class="details-value">
                            @Html.DisplayFor(model => model.User.Id)
                        </dd>
                    </div>
                </dl>
            </div>

            <div class="cart-actions">
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn cart-edit-btn">Edit</a>
                <a asp-action="Index" class="btn cart-back-btn">Back to List</a>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <link rel="stylesheet" href="~/css/Carts/Details.css" asp-append-version="true" />
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
