<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - GameShop</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true"/>
</head>
<body>
<header id="header">
    <div class="header-body">
        <div class="header-container">
            <a asp-controller="Games" asp-action="Index">
                <div class="icon-text" asp-area="" asp-controller="Games" asp-action="Index">
                    <span>Game Shop</span>
                    <span>-online-</span>
                </div>
            </a>
            <div class="navbar">
                <button>
                    <img src="~/icons/shopping-cart.svg" alt="Cart" class="cart-icon" />
                </button>
                <button>Login</button>
                <button>Register</button>
            </div>
        </div>
    </div>
</header>

<main role="main" class="pb-3">
    @RenderBody()
</main>

<footer>
</footer>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>