#Reviews {
    .reviews-body {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .reviews-container {
        width: 80%;
        background-color: #f9f9f9;
        border: 2px solid #ccc;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        overflow-y: auto;
    }

    h1 {
        text-align: center;
        color: #333;
        font-size: 2rem;
    }

    .create-btn {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .create-btn:hover {
        background-color: #0056b3;
    }

    .review-attributes-header {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
        margin-bottom: 20px;
    }

    .review-attribute-header h3 {
        margin: 0;
        text-align: center;
        font-weight: bold;
        color: #333;
    }

    .list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .list-item {
        background: #fff;
        margin: 10px 0;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s;
    }

    .list-item:hover {
        background-color: #f0f0f0;
    }

    .review-info {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
        gap: 20px;
    }

    .review-attribute {
        text-align: center;
    }

    button {
        padding: 10px 15px;
        background-color: #4caf50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #45a049;
    }

    .btn-danger {
        background-color: #dc3545;
    }

    .btn-danger:hover {
        background-color: #c82333;
    }

    .btn-info {
        background-color: #17a2b8;
    }

    .btn-info:hover {
        background-color: #138496;
    }
}