@model ShoppingService.Models.Game

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="CreateGame">
    <div class="game-form-container">
        <div class="game-form-box">
            <h1>Create Game</h1>

            <form asp-action="Create" asp-controller="Games" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <!-- Name Input -->
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control game-input" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <!-- Description Input -->
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control game-input"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <!-- Price Input -->
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control game-input" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <!-- Stock Input -->
                <div class="form-group">
                    <label asp-for="Stock" class="control-label"></label>
                    <input asp-for="Stock" class="form-control game-input" />
                    <span asp-validation-for="Stock" class="text-danger"></span>
                </div>

                <!-- Image Upload -->
                <div class="form-group">
                    <label for="imageFiles">Upload Image:</label>
                    <input type="file" name="imageFiles" id="imageFiles" accept="image/jpeg" multiple />
                </div>

                <!-- Submit Button -->
                <div class="form-group">
                    <button type="submit" class="btn game-btn game-btn-submit">Create</button>
                </div>
            </form>

            <!-- Back to List Link -->
            <div>
                <a asp-controller="Games" asp-action="Index" class="game-btn game-btn-back">Back to List</a>
            </div>
        </div>
    </div>
</section>

<link rel="stylesheet" href="~/css/Games/Create.css" asp-append-version="true" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
