@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
<section id="Account">
    <div class="container">
        <div class="box">
            <h1>@ViewData["Title"]</h1>

            <partial name="_StatusMessage" for="StatusMessage" />

            <form id="profile-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="form-group">
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Enter your email" disabled="" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.FirstName" class="form-label">First Name</label>
                    <input asp-for="Input.FirstName" class="form-control" autocomplete="firstname" placeholder="Enter your first name" required />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.LastName" class="form-label">Last Name</label>
                    <input asp-for="Input.LastName" class="form-control" autocomplete="lastname" placeholder="Enter your last name" required />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.PhoneNumber" class="form-label">Phone Number</label>
                    <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number." />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>

                <button id="update-profile-button" type="submit" class="btn login-btn">Save</button>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    <link rel="stylesheet" href="~/css/Identity/Layout.css" />
    <partial name="_ValidationScriptsPartial" />
}