#GameDetails {
    /* Layout principal */
    .game-details-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        min-height: 100vh;
    }

    .game-details-box {
        background: rgba(255, 255, 255, 0.9);
        padding: 20px 30px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        text-align: center;
        width: 80%;
        max-height: 80vh;
        overflow: scroll;
    }

    /* Galerie de imagini */
    .image-gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .image-item {
        text-align: center;
    }

    .image-item img {
        max-width: 100%;
        max-height: 40vh;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    /* Informa»õii joc */
    .game-details-info {
        display: flex;
        justify-content: space-between;
    }

    .general-info, .review-info {
        flex: 1;
    }

    dt {
        font-weight: bold;
        color: #333;
    }

    dd {
        color: #777;
    }

    /* Recenzii */
    .reviews-section {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        background-color: #f9f9f9;
    }

    .reviews-scroll {
        max-height: 20vh;
        overflow-y: auto;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .review-card {
        margin-bottom: 10px;
        border-bottom: 1px solid #ddd;
        padding: 10px;
    }

    .review-header {
        display: flex;
        justify-content: space-between;
    }

    .review-rate {
        color: #555;
    }

    .review-comment p, .review-footer small {
        margin: 0;
    }

    /* Butoane */
    .game-action-buttons {
        margin-top: 20px;
    }

    .game-btn {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
        color: white;
    }

    .game-btn-edit {
        background-color: #007bff;
    }

    .game-btn-back {
        background-color: #28a745;
    }

    .game-btn:hover {
        opacity: 0.9;
    }
}