#OrderIndex {
    .orders-body {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .orders-container {
        position: relative;
        flex-direction: column;
        width: 80%;
        max-height: 80%;
        background-color: #f9f9f9;
        border: 2px solid #ccc;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        overflow-y: auto;
    }

    h1 {
        text-align: center;
        color: #333;
        font-size: 2rem;
    }

    .order-attributes-header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-bottom: 20px;
    }

    .order-attribute-header h3 {
        margin: 0;
        text-align: center;
        font-weight: bold;
        color: #333;
    }

    .list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .list-item {
        background: #fff;
        margin: 10px 0;
        padding: 10px 15px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s;
    }

    .list-item:hover {
        background-color: #f0f0f0;
        cursor: pointer;
    }

    .order-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .order-attribute {
        flex: 1 1 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    button {
        padding: 10px 20px;
        margin: 5px 0;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
    }

    button:hover {
        background-color: #45a049;
    }

    .create-btn {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .create-btn:hover {
        background-color: #0056b3;
    }
    
    .btn-primary {
        background-color: #007bff;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }

    .btn-secondary {
        background-color: #6c757d;
    }

    .btn-secondary:hover {
        background-color: #565e64;
    }

    .btn-danger {
        background-color: #dc3545;
    }

    .btn-danger:hover {
        background-color: #c82333;
    }
}
