@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}


<section id="only-one-message">
    <div class="container">
        <div class="box">
            @if (Model.StatusMessage != null)
            {
                <h1 class="title">
                    <partial name="_StatusMessage" model="Model.StatusMessage"/>
                </h1>
                <p class="message">
                    Your account has created with success!
                </p>
                <p class="message">
                    Click here to log in with your new account:
                    <a asp-controller="Games" asp-action="Index"> Login</a>
                </p>
            }
            else
            {
                <h1 class="message">
                    Something wrong! Your account can't be confirmed! 
                </h1>
            }

        </div>
    </div>
</section>

<link rel="stylesheet" href="~/css/Identity/Layout.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/Identity/ShowMessage.css" asp-append-version="true"/>