@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<section id="only-one-message">
    <div class="layout-container">
        <div class="box">
            <h1 class="title">We sent you an email</h1>
            <p class="message">
                Please check your email to reset your password.
                If you don’t see it, please check your spam folder or contact support for assistance.
            </p>
            <p class="message">
                You can close this page.
            </p>
        </div>
    </div>
</section>

<link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/ShowMessage.css" asp-append-version="true"/>