@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<section id="Register">
    <div class="container">
        <div class="box">
            <h1>@ViewData["Title"]</h1>
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="form-group">
                    <label asp-for="Input.FirstName" class="form-label">First Name</label>
                    <input asp-for="Input.FirstName" class="form-control" autocomplete="firstname" placeholder="Enter your first name" required />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.LastName" class="form-label">Last Name</label>
                    <input asp-for="Input.LastName" class="form-control" autocomplete="lastname" placeholder="Enter your last name" required />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Enter your email" required />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.PhoneNumber" class="form-label">Phone</label>
                    <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="tel" placeholder="Enter your phone number" required />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <input asp-for="Input.Password" type="password" class="form-control" autocomplete="new-password" placeholder="Enter your password" required />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
                    <input asp-for="Input.ConfirmPassword" type="password" class="form-control" autocomplete="new-password" placeholder="Confirm your password" required />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="btn login-btn">Register</button>
            </form>

            <div class="text-center mt-3">
                <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Already have an account? Log in</a>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <link rel="stylesheet" href="~/css/Identity/Layout.css" />
}