@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<section id="only-one-message">
    <div class="layout-container">
        <div class="box">
            <p class="message">
                Your password has been reset. 
            </p>
            <p class="message">
                Please click here to log in with your updated account:
                <a class="btn-click-here" asp-controller="Games" asp-action="Index"> Login</a>
            </p>
        </div>
    </div>
</section>

<link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/ShowMessage.css" asp-append-version="true"/>
